.swiper-slide {
  margin-top: 1200px;
}

@media only screen and (max-width: 425px) {
  .swiper-slide {
    margin-top: 1180px;
  }
  .owner_gallery_wrapper {
    margin-top: -1050px;
  }
  .swiper-slide > img {
    object-fit: cover;
    height: 250px;
  }
}

@media only screen and (min-width: 425px) {
  .swiper-slide > img {
    object-fit: cover;
    height: 350px;
  }
  .swiper-slide {
    margin-top: 1280px;
  }
}

@media only screen and (min-width: 1024px) {
  .swiper-slide > img {
    height: 572px;
    object-fit: cover;
  }
}

.owner_gallery_wrapper > div > div {
  height: fit-content;
}
.owner_gallery_wrapper {
  margin-top: -1050px;
}
