.diamond-heading {
  font-weight: bolder;
  font-family: "Michroma", sans-serif;
  letter-spacing: 10px;
  color: white;
}

@media only screen and (max-width: 320px) {
  .diamond-heading {
    font-size: 30px !important;
  }
  .diamond-buttons {
    margin-top: -90px !important;
  }
}

.slide-title {
  font-family: 'Ysabeau SC', sans-serif;
  color: white;
  opacity: 0.5;
  font-weight: 500;
}

.diamond-para {
  font-family: "Ysabeau SC", sans-serif;
  font-style: italic;
  color: white;
}

.swiper-slide {
  position: relative;
}

.swiper-slide-shadow-left {
  background-image: linear-gradient(
    to left,
    rgb(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ) !important;
}
.swiper-slide-shadow-right {
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 0, 0.5),
    rgb(0, 0, 0, 0.5)
  ) !important;
}

.owner_gallery_wrapper > div > div {
  height: fit-content;
}

.gallery-section-button > button > svg {
  display: none !important;
}

.slick-current {
  display: flex;
  align-items: center;
}
.slick-current > div > div .slide-border > img {
  filter: drop-shadow(1px 1px 60px rgb(153, 152, 152));
  border: 1px solid rgb(103, 103, 103);
  border-radius: 50%;
  height: 250px !important;
  width: 250px !important;
}
.slick-current > div > div .slide-title {
  margin-top: 3rem;
  color: rgb(255, 255, 255);
  font-weight: 700;
  opacity: 1;  
font-size: 30px;
}
