.slide-border {
  border: 1px solid rgb(103, 103, 103);
  /* box-shadow: 1px 1px 50px rgb(105, 103, 103); */
}
.img-shadow {
  filter: drop-shadow(2px 2px 50px rgb(103, 103, 103));
}

.diamond-heading {
  font-weight: bolder;
  font-family: "Michroma", sans-serif;
  letter-spacing: 10px;
  color: white;
}

@media only screen and (max-width:320px) {
  .diamond-heading{
    font-size: 30px !important;
  }
  .diamond-buttons{
    margin-top: -90px !important;
  }
}

.slide-title{
  font-family: 'Krub', sans-serif;
  color: white;
  font-weight: 500;
}

.diamond-para{
  font-family: 'Ysabeau SC', sans-serif; 
  font-style: italic;
  color: white;

}