.pri-btn-style:hover{
    background-color: white !important;
    color: black !important;
    cursor: pointer !important;

    
}
.pri-btn-style{
    border: 1px solid rgb(255, 255, 255);
}
.sec-btn-style:hover{
    /* background-color: white; */
/* opacity: 0.5; */
    color:white !important;
    /* border: 1px solid white; */
    cursor: pointer !important;
    background-color: #444242 !important;
}
.sec-btn-style{
    color:black;
    background-color: white;
}