@media only screen and (max-width: 425px) {
  .swiper {
    width: 185px;
    height: 310px;
  }
}
@media only screen and (min-width: 428px) {
  .swiper {
    width: 300px;
    height: 380px;
  }
}
@media only screen and (min-width: 1024px) {
  .swiper {
    width: 350px;
    height: 450px;
  }
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: #fff;
}

.swiper-slide:nth-child(2n) {
  background-color: #fff;
}

.swiper-slide:nth-child(3n) {
  background-color: #fff;
}

.swiper-slide:nth-child(4n) {
  background-color: #fff;
}

.swiper-slide:nth-child(5n) {
  background-color: #fff;
}

.swiper-slide:nth-child(6n) {
  background-color: #fff;
}

.swiper-slide:nth-child(7n) {
  background-color: #fff;
}

.swiper-slide:nth-child(8n) {
  background-color: #fff;
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}
