/* .arrow{
    border: 1px solid white; 
}
.arrow:hover{
    padding: 0px 15px;
} */

progress {
    -webkit-appearance:none;
    /* width:%; */
    height:8px;
    /* border:1px solid #ccc; */
    overflow:hidden;
    color:#aaa;
    border-radius:25px;

    &::-webkit-progress-bar {
        background:#291307;
    }
    &::-webkit-progress-value {
        background:#ffffff;
    }
    &::-moz-progress-bar {
        background:#291307;
    }
}

    @media only screen and (max-width: 320px) {
        .progress-bar{
              margin-right: -64px !important;  
        }
      }

     @media only screen and (min-width: 376px) and (max-width: 425px) {
        .progress-bar{
              margin-right: -135px !important;  
        }
      } 

      @media only screen and (min-width: 325px) and (max-width: 375px) {
        .progress-bar{
              margin-right: -70px !important;  
        }
      }
