.subcta-heading{
    font-family: 'Michroma', sans-serif;
    letter-spacing: 3px;
    font-weight: 400;
}

.footer-line{
    background: rgb(29,29,29);
    background: linear-gradient(90deg, rgba(29,29,29,1) 0%, rgba(168,168,168,1) 50%, rgba(29,29,29,1) 100%);
}