.experience-heading {
  font-family: "Orbitron", sans-serif;
  font-weight: 900;
  letter-spacing: 5px;
}

@media only screen and (max-width: 768px) {
  .experience-heading {
    letter-spacing: 2px;
  }
}

.experience-para {
  font-family: "Krub", sans-serif;
}

.experience-slider-border{
  border: 1px solid white;
}