@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Poppins:ital,wght@1,300&display=swap');

/* heading: Orbitron */
/* text: Poppins */

@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
/* font-family: 'Michroma', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@100;200;300;400&display=swap');
/* font-family: 'Ysabeau SC', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Krub:wght@400;500;600&display=swap');
/* font-family: 'Krub', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=REM:wght@600;700;800;900&display=swap');
/* font-family: 'REM', sans-serif; */


body{
    background: #120e0b;
background: linear-gradient(90deg, rgba(18,14,11,1) 50%, rgba(50,35,28,1) 100%);
}


.heading{
    font-family: orbitron;
}
.text{
    font-family: poppins;
}
