@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Poppins:ital,wght@1,300&display=swap');

/* heading: Orbitron */
/* text: Poppins */

.app-bg{
    background: rgb(18,14,11);
background: linear-gradient(90deg, rgba(18,14,11,1) 50%, rgba(50,35,28,1) 100%);
}

.heading{
    font-family: orbitron;
}
.text{
    font-family: poppins;
}
